body {
  font-family: "맑은 고딕";
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}
h1 {
  color: red;
}
.dark {
  background-color: #1e293b;
  color: #f1f5f9;
}
.btn {
  padding: 4px 10px;
  font-size: 1.2em;
  border-radius: 8px;
  cursor: pointer;
}
